<app-page-layout
    [pageTitle]="'Recipe details'"
    [pageDetails]="recipe.name"
    [routeOptions]="[
        {
            name: 'Recipes',
            route: 'recipes'
        },
        {
            name: 'Details'
        }
    ]">
    <app-loading-screen [loaded]="loadedRecipe">
        <br>
        <div class="container-fluid row mx-auto">
            <app-display-card
            [elementIdentifier]="'recipeDetails'+ recipe.id.toString()"
            [titleText]="'Details'"
            [isCollapsable]="true"
            [isDefaultCollapsed]="false"
            [buttons]="[{
                text: 'Export ingredients list',
                icon: enumClusterService.getIcons().Export,
                colorClass: enumClusterService.getColorClasses().Add,
                onClick: openIngredientsExportModal
            },
            {
                text: 'Update',
                icon: enumClusterService.getIcons().Update,
                colorClass: enumClusterService.getColorClasses().Update,
                onClick: openUpdateRecipeModal
            },
            {
                text: 'Delete',
                icon: enumClusterService.getIcons().Delete,
                colorClass: enumClusterService.getColorClasses().Delete,
                onClick: openDeleteConfirmationModal
            }]"
            >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <app-image-from-url-source [imageUrl]="recipe.imageUrl" style="margin: auto;"  [cssToApply]="'display: block; max-height: 80vh; max-width: 100%; margin-left: auto; margin-right: auto;'"></app-image-from-url-source>
                        </div>
                        <div class="col-sm-6">
                            <div style="padding: 15px;">
                                <h1 class="text-center">{{recipe.name}}</h1>
                            </div>
                            <hr>
                            <div class="text-center">
                                <span class="badge rounded-pill bg-secondary"><i class="fa fa-clock-o"></i> {{recipe.estimatedDurationInMinutes}} min</span>
                                <app-external-link [url]="recipe.externalLink" [text]="'External link'" [showConfirmationModal]="true"></app-external-link>
                            </div>
                            <br>
                            <p>Creation moment: {{getDisplayDate(recipe.createdAt)}}</p>
                            <p>Description: <br>{{recipe.description}}</p>
                        </div>
                    </div>
                </div>
            </app-display-card>
        </div>
        <br>
        <div class="container-fluid row mx-auto">
            <div class="col-sm-8">
                <app-display-card
                [elementIdentifier]="'recipe:'+ recipe.id.toString()"
                [titleText]="'Ingredients'"
                [isCollapsable]="true"
                [isDefaultCollapsed]="false"
                [buttons]="[{
                    text: 'Add',
                    icon: enumClusterService.getIcons().Add,
                    colorClass: enumClusterService.getColorClasses().General,
                    onClick: openNewIngredientModal
                }]"
                >
                    <app-loading-screen [loaded]="loadedIngredients">
                        <div class="container-fluid">
                            <div class="row">
                                @if(ingredients.length <= 0){
                                    <p>Missing ingredients :(</p>
                                }
                                @else {
                                    @for (ing of ingredients; track ing.ingredientId) 
                                    {
                                        <div class="col-sm-4">
                                            <app-recipe-ingredient-preview [recipeIngredient]="ing" (remove)="onRemoveIngredient($event)" ></app-recipe-ingredient-preview>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </app-loading-screen>
                </app-display-card><br>
            </div><br>
            <div class="col-sm-4">
                <app-display-card
                [elementIdentifier]="'prepSteps'+ recipe.id.toString()"
                [titleText]="'Preparation steps'"
                [isCollapsable]="true"
                [isDefaultCollapsed]="false"
                [buttons]="[{
                    text: 'Add',
                    icon: enumClusterService.getIcons().Add,
                    colorClass: enumClusterService.getColorClasses().General,
                    onClick: openNewPreparationStepModal
                }]"
                >
                    <app-loading-screen [loaded]="loadedPreparationSteps">
                        <div class="container-fluid">
                            <div class="row">
                                @if(preparationSteps.length <= 0){
                                    <p>Missing preparation steps :(</p>
                                }
                                @for (step of preparationSteps; track step.id) 
                                {
                                    <div class="col-sm-12">
                                        <app-preparation-step-preview [preparationStep]="step" (onChanged)="onChangedPreparationStep($event)"></app-preparation-step-preview>
                                    </div>
                                }
                            </div>
                        </div>
                    </app-loading-screen>
                </app-display-card>
            </div><br>
        </div><br>
    </app-loading-screen>
</app-page-layout>

@if(loadedRecipe){

    @if(loadedIngredients){
        <app-ingredients-list-export-modal [ingredients]="ingredients" [recipeName]="recipe.name" #ingredientsExportModal></app-ingredients-list-export-modal>
    }

    <app-simple-modal #updateRecipeModal [headerText]="'Update recipe'" >
        <app-recipe-form [recipe]="recipe" (submitRecipe)="onUpdateRecipe($event)"></app-recipe-form>
    </app-simple-modal>

    <app-simple-modal #newIngredientModal [headerText]="'Add ingredient to recipe'" >
        <app-recipe-ingredient-form [ingredients]="availableIngredients" [measureUnits]="measureUnits" (submitRecipeIngredient)="onAddIngredient($event)"></app-recipe-ingredient-form>
    </app-simple-modal>

    <app-simple-modal #newPreparationStepModal [headerText]="'Add preparation step to recipe'" >
        <app-preparation-step-form (submitPreparationStep)="onAddPreparationStep($event)"></app-preparation-step-form>
    </app-simple-modal>
    
    <app-confirmation-modal #deleteConfirmationModal [questionText]="'Do you want to delete the recipe named: ' + recipe.name" (confirm)="onDeleteRecipe()"></app-confirmation-modal>
}