<app-loading-screen [loaded]="loadedRecipe">
    <app-image-from-url-source [imageUrl]="recipe.imageUrl" style="margin: auto;"  [cssToApply]="'display: block; max-height: 80vh; max-width: 100%; margin-left: auto; margin-right: auto;'"></app-image-from-url-source>
    <br><br>
    <div style="padding: 15px;">
        <h1 class="text-center">{{recipe.name}}</h1>
    <hr>
    <div class="text-center">
        <span class="badge rounded-pill bg-secondary"><i class="fa fa-clock-o"></i> {{recipe.estimatedDurationInMinutes}} min</span>
        <app-external-link [url]="recipe.externalLink" [text]="'External link'" [showConfirmationModal]="true"></app-external-link>
    </div>
    <br><br>
    <div class="container-fluid row mx-auto">
        <div class="col-sm-12">
            <h3>
                Ingredients 
                <button class="btn btn-warning" (click)="openNewIngredientModal()"><i class="fa fa-plus"></i></button>
            </h3>
            <hr>
                <app-loading-screen [loaded]="loadedIngredients">
                    <div class="container-fluid row">
                        @for (ing of ingredients; track ing.ingredientId) 
                        {
                            <div class="col-sm-4">
                                <app-recipe-ingredient-preview [recipeIngredient]="ing" (remove)="onRemoveIngredient($event)"></app-recipe-ingredient-preview>
                            </div>
                        }
                    </div>
                </app-loading-screen>
        </div>
        <div class="col-sm-6">
            <h3>
                Details
                <button class="btn btn-warning" (click)="openUpdateRecipeModal()"><i class="fa fa-pencil"></i></button>
            </h3><hr>
            <p>{{recipe.description}}</p>
        </div>
        <div class="col-sm-6">
            <h3>
                Preparation steps
                <button class="btn btn-warning" (click)="openNewPreparationStepModal()"><i class="fa fa-plus"></i></button>
            </h3><hr>
            <app-loading-screen [loaded]="loadedPreparationSteps">
                <div class="container-fluid row">
                    @if(preparationSteps.length <= 0){
                        <p>Missing preparation steps :(</p>
                    }
                    @for (step of preparationSteps; track step.id) 
                    {
                        <div class="col-sm-12">
                            <app-preparation-step-preview [preparationStep]="step" (onChanged)="onChangedPreparationStep($event)"></app-preparation-step-preview>
                        </div>
                    }
                </div>
            </app-loading-screen>
        </div>
    </div>
    <br><hr>
    <div class="btn-group" style="width: 100%;">
        <button class="btn btn-success" style="width: 100%;" (click)="openIngredientsExportModal()"><i class="fa fa-print"></i> Export ingredients list</button>
        <button class="btn btn-warning" style="width: 100%;" (click)="openUpdateRecipeModal()"><i class="fa fa-pencil"></i> Update</button>
        <button class="btn btn-danger" style="width: 100%;" (click)="openDeleteConfirmationModal()" ><i class="fa fa-remove"></i> Delete</button>
    </div>
    <br>
    </div>
</app-loading-screen>

@if(loadedRecipe){

    @if(loadedIngredients){
        <app-ingredients-list-export-modal [ingredients]="ingredients" [recipeName]="recipe.name" #ingredientsExportModal></app-ingredients-list-export-modal>
    }

    <app-simple-modal #updateRecipeModal [headerText]="'Update recipe'" >
        <app-recipe-form [recipe]="recipe" (submitRecipe)="onUpdateRecipe($event)"></app-recipe-form>
    </app-simple-modal>

    <app-simple-modal #newIngredientModal [headerText]="'Add ingredient to recipe'" >
        <app-recipe-ingredient-form [ingredients]="availableIngredients" [measureUnits]="measureUnits" (submitRecipeIngredient)="onAddIngredient($event)"></app-recipe-ingredient-form>
    </app-simple-modal>

    <app-simple-modal #newPreparationStepModal [headerText]="'Add preparation step to recipe'" >
        <app-preparation-step-form (submitPreparationStep)="onAddPreparationStep($event)"></app-preparation-step-form>
    </app-simple-modal>
    
    <app-confirmation-modal #deleteConfirmationModal [questionText]="'Do you want to delete the recipe named: ' + recipe.name" (confirm)="onDeleteRecipe()"></app-confirmation-modal>
}