<div class="card bg-secondary text-white">
    <div class="card-body"><b>{{preparationStep().orderNumber + 1}}</b>: {{preparationStep().instructions}}</div>
    <div class="card-footer">
        <div class="btn-group" role="group" style="width: 100%;">
            <button class="btn btn-danger" style="width: 100%;" (click)="openConfirmationRemoveModal()"><i class="fa fa-remove"></i></button>
            <button class="btn btn-warning" style="width: 100%;" (click)="openConfirmationMoveUpModal()"><i [class]="enumClusterService.getIcons().Up"></i></button>
            <button class="btn btn-warning" style="width: 100%;" (click)="openConfirmationMoveDownModal()"><i [class]="enumClusterService.getIcons().Down"></i></button>
          </div>
    </div>
</div><br>

<app-confirmation-modal 
#confirmationRemoveModal
[questionText]="'Do you want to remove the preparation step?'" 
(confirm)="onRemove()">
</app-confirmation-modal>

<app-confirmation-modal 
#confirmationMoveUpModal
[questionText]="'Do you want to move up the preparation step?'" 
(confirm)="onMoveUp()">
</app-confirmation-modal>

<app-confirmation-modal 
#confirmationMoveDownModal
[questionText]="'Do you want to move down the preparation step?'" 
(confirm)="onMoveDown()">
</app-confirmation-modal>