@if(isUrlValid){

    @switch (type()) {
        @case (0) {
            <p (click)="onClick()"><i class="fa fa-globe clickable"></i> {{text()}}</p>
        }
        @case (1) {
            <span (click)="onClick()" class="badge rounded-pill bg-primary clickable" target="_blank"><i class="fa fa-globe"></i> {{text()}}</span>
        }
        @case (2) {
            <button (click)="onClick()" class="btn btn-primary"><i class="fa fa-globe"></i> {{text()}}</button>
        }
    }
    
    <app-confirmation-modal #confirmationModal [questionText]="'Do you want to navigate to: ' + url()" (confirm)="openUrl()" style="text-align: left;"></app-confirmation-modal>
}
