<h3 class="text-center">Actions shortcuts</h3><hr>
<button class="btn btn-warning" style="width: 100%;" (click)="displayNewRecipeModal = true"><i class="fa fa-book"></i> Add recipe</button> <br><br>
<button class="btn btn-warning" style="width: 100%;" (click)="displayNewIngredientModal = true"><i class="fa fa-shopping-basket"></i> Add ingredient</button> <br><br>


<app-simple-modal-component [display]="displayNewRecipeModal" [headerText]="'New recipe'" (close)="displayNewRecipeModal = false">
  <app-recipe-form-component (submitRecipe)="onAddRecipe($event)"></app-recipe-form-component>
</app-simple-modal-component>

<app-simple-modal-component [display]="displayNewIngredientModal" [headerText]="'New ingredient'" (close)="displayNewIngredientModal = false">
  <app-ingredient-form-component (submitIngredient)="onAddIngredient($event)"></app-ingredient-form-component>
</app-simple-modal-component>