<div class="card" style="width:100%">
    <app-image-from-url-source [imageUrl]="recipe().imageUrl" [classesToApply]="'card-img-top'"></app-image-from-url-source>
    <div class="card-body">
      <h4 class="card-title">{{recipe().name}}</h4>
      <hr>
       <div>
            <span class="badge rounded-pill bg-secondary"><i class="fa fa-clock-o"></i> {{recipe().estimatedDurationInMinutes}} min</span>
            @if(recipe().externalLink != ""){
            <app-external-link [url]="recipe().externalLink" [text]="'External link'" [showConfirmationModal]="true"></app-external-link>
            }
            <br><br>
       </div>
      <p class="card-text">{{description}}</p>
      <a class="btn btn-warning" [routerLink]="['/recipe-details',recipe().id]"><i class="fa fa-search-plus"></i> Details</a>
    </div>
</div>