<h3 class="text-center">Actions shortcuts</h3><hr>
<button class="btn btn-warning" style="width: 100%;" (click)="displayNewRecipeModal()"><i class="fa fa-book"></i> Add recipe</button> <br><br>
<button class="btn btn-warning" style="width: 100%;" (click)="displayNewIngredientModal()"><i class="fa fa-shopping-basket"></i> Add ingredient</button> <br><br>
<button class="btn btn-warning" style="width: 100%;" (click)="displayNewGroceryListModal()"><i class='fa fa-clipboard'></i> Add grocery list</button> <br><br>


<app-simple-modal #newRecipeModal [headerText]="'New recipe'">
  <app-recipe-form (submitRecipe)="onAddRecipe($event)"></app-recipe-form>
</app-simple-modal>

<app-simple-modal #newIngredientModal [headerText]="'New ingredient'">
  <app-ingredient-form (submitIngredient)="onAddIngredient($event)"></app-ingredient-form>
</app-simple-modal>

<app-simple-modal #newGroceryListModal [headerText]="'New grocery list'">
  <app-grocery-list-form (submitGroceryList)="onAddGroceryList($event)"></app-grocery-list-form >
</app-simple-modal>