<div class="card">
    <div class="card-header">
        <h3>
            {{ingredient().name}}
        </h3>
    </div>
    <div class="card-body">
        <b>Details:</b><br>
        {{ingredient().description}}
    </div> 
    <div class="card-footer">
        <div class="btn-group" style="width: 100%;">
            <button class="btn btn-warning" style="width: 100%;"><i class="fa fa-pencil"></i> Update</button>
            <button class="btn btn-danger" style="width: 100%;"><i class="fa fa-remove"></i> Delete</button>
        </div>
    </div>
  </div>