<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" >
    @for (field of formFields(); track field.fieldName) {
        @if(field.hidden == false){
            <div class="form-group">
                <label for="{{field.fieldName}}">{{field.fieldLable}}: </label>
            @switch (field.fieldType) {
                @case ("text") {
                        <input type="text" class="form-control" id="{{field.fieldName}}" placeholder="{{getPlaceHolder(field)}}" [formControlName]="field.fieldName">
                }
                @case ("number") {
                    <input type="number" class="form-control" id="{{field.fieldName}}" placeholder="{{getPlaceHolder(field)}}" [formControlName]="field.fieldName">
                }
                @case ("date") {
                    <input type="date" class="form-control" id="{{field.fieldName}}" placeholder="{{getPlaceHolder(field)}}" [formControlName]="field.fieldName">
                }
                @case ("textarea") {
                    <textarea class="form-control" rows="5" id="{{field.fieldName}}" [formControlName]="field.fieldName"></textarea>
                }
                @case ("select") {
                        <select class="form-control" id="{{field.fieldName}}" [formControlName]="field.fieldName">
                            @for (ms of field.selectValues; track ms.value) {
                                <option [value]="ms.value">{{ms.name}}</option>
                            }
                        </select>
                }
                @case ("checkbox") {
                    <input class="checkbox" type="checkbox" id="{{field.fieldName}}" [formControlName]="field.fieldName" style="margin-left: 5px;">
                }
            }
        </div>
            @if(this.dataForm.touched && this.dataForm.get(field.fieldName)?.invalid){
                <div class="invalidData">
                    @if(!field.fieldErrorMessage || field.fieldErrorMessage == ''){
                        Please provide a valid {{field.fieldLable.toLowerCase()}}.
                    } @else {
                        {{field.fieldErrorMessage}}
                    }
                </div>
            }
        }
    }
    <br>
    <button type="submit" class="btn btn-warning">{{submitButtonText()}}</button>
</form>