.leftSideMenu{
    background-color: var(--main-color);

    -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);

    padding: 0;
}

.menu{
    padding: 5%;

}

.appTitle{
    padding: 5px;
    background-color: var(--sec-color);

    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);

    text-align: center;

    width: 100%;

    filter: blur(0px);
    -webkit-filter: blur(0px);
}