.menu{
    background-color: var(--main-color);

    -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.2);
}

@media (min-width: 800px) {

    .appTitle{
        background-color: var(--sec-color);
    
        -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
    
        writing-mode: vertical-lr;
        text-orientation: upright;
    
        text-align: center;

        height: 100vh;
    }
    
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

    .appTitle{
        background-color: var(--sec-color);
    
        -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
    
        text-align: center;

        padding: 5px;

        height: auto;
    }   
}
