/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: rgba(242, 242, 242,1);
    --main-color:rgba(182, 149, 106,0.8);
    --sec-color:rgba(182, 149, 106,1);

    --app-title-height: 7vh;
}

body {
    background-color: var(--bg-color);
    font-family: "Playfair Display", serif !important;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: bold !important;
}

.cursor-pointer {cursor: pointer;}
.cursor-not-allowed {cursor: not-allowed;}

.scroll-left {
    direction: rtl;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
